.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
}

.grid-item {
  background-color:#E6E6FA;
  padding: 20px;
  text-align: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
}

h1 {
        text-align: center;
        color: pink;
      font-size: 100px
      }

      h2 {
              text-align: center;
              color: white;
            }
            body {
                   background-color: grey;
                 }
@media (max-width: 768px) {
                   body {
                     background-color:lightblue;
                     color:  white;
                   }
                 }
                 @media (max-height: 650px) {
                   body {
                     background-color: lightgreen;
                   }
                   body {
                     font-size: 16px;
                   }
                   @media (min-width: 768px) {
                     body {
                       font-size: 60px;
                     }
                     @media (min-width: 992px) {
                   body {
                     font-size: 40px;
                   }
                 }
                 @media (min-width: 1200px) {
                   body {
                     font-size: 80px;
                   }
                 }
